<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega-Sena pode apostar</title>
</head>
<body>
    <h2 th:text="${num.num1}">xxx</h2>
    <h2 th:text="${num.num2}">xxx</h2>
    <h2 th:text="${num.num3}">xxx</h2>
    <h2 th:text="${num.num4}">xxx</h2>
    <h2 th:text="${num.num5}">xxx</h2>
    <h2 th:text="${num.num6}">xxx</h2>
</body>
</html>